# ODC/DEA
#  bump 20-jan-2020
--extra-index-url="https://packages.dea.ga.gov.au"
--no-binary=fc,hdstats
datacube[performance]
odc_algo
odc_ui
odc_index
odc_aws
odc_geom
odc_io
odc_aio
odc_ppt
odc_dscache
odc_dtools
otps
fc
hdstats>=0.1.3
eodatasets3
odc-apps-dc-tools
odc-apps-cloud

# misc extras: move them to main req files later
tqdm
ipyfilechooser
pydotplus
