# s3/boto, let aiobotocore decide botocore/boto3/awscli versions
aiobotocore[boto3,awscli]
python-dateutil
colorama

# datacube[test]
moto
pylint==1.8.4
compliance-checker
hypothesis
mock
pycodestyle
pytest
pytest-cov
pytest-timeout
pytest-httpserver

# datacube[performance]
bottleneck
ciso8601

# datacube[doc]
Sphinx
setuptools

# datacube[s3]  s3aio
SharedArray
pathos
zstandard

# odc-tools
lmdb

# misc
cython
pyyaml
ruamel.yaml
pyrsistent
ciso8601
psycopg2
param
dill
ffmpeg-python

# Scientific Stack
numpy
scipy
pandas
scikit-image
scikit-learn
numexpr
numexpr3
numba
statsmodels
Pillow
dask[distributed]
distributed
xarray

# Geo stack
geopy
fiona
rasterstats
geopandas
cligj
GDAL
rasterio
Shapely
pyproj
h5py
netcdf4
rtree
pandana
pysal
pyepsg
mapclassify
urbanaccess

# jupyter things
jupyter
jupyterlab
jupyterhub
ipyleaflet
jupyter-server-proxy
dask-labextension
nbdime
jupyterlab-code-formatter
sidecar
ipyevents
ipycanvas
jupyterlab-git
jupyter-nbextensions-configurator
jupyter-contrib-nbextensions
jupyter-contrib-core
jupyter-ui-poll
nbgitpuller
black
autopep8
yapf
isort
mypy
line_profiler

# jupyter + matplotlib
matplotlib
bokeh
descartes
ipympl
datashader
graphviz
folium
geoviews
holoviews
cartopy
seaborn
dash[testing]
