# s3/boto, let aiobotocore decide botocore/boto3/awscli versions
aiobotocore[boto3,awscli]==0.11.0
python-dateutil==2.8.0
thredds_crawler

--extra-index-url="https://packages.dea.ga.gov.au"
datacube[performance,distributed]
odc-apps-cloud[GCP,THREDDS]
odc-apps-dc-tools
git+https://github.com/opendatacube/datacube-ows.git

# used by update_ranges.py (remove when setup.py is fixed in datacube-ows)
colour
timezonefinderL
